body {
  padding-top: 50px;
}

.content {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white !important;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white !important; /*BACKGROUND color for active*/
  background-color: #030033;
}

.navbar-default {
  background-color: #D73333;
  border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white !important;
  text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
  color: white !important; /*Change active text color here*/
}
