body {
  padding-top: 50px;
  max-width: 70%;
}

.content {
  padding: 20px 35px 0 35px;
}

a {
  color: #52585D;
}

a:hover {
  color: #52585D;
  text-decoration: none;
}

p {
  color: #52585D;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white !important;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white !important; /*BACKGROUND color for active*/
  background-color: #030033;
}

.navbar-default {
  background-color: #D73333;
  border-color: #030033;
  border: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white !important;
  text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
  color: white !important; /*Change active text color here*/
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-fixed-top {
  border-width: 0;
}

#section{position:absolute;top:0;left:270px;bottom:0;right:0;background:#fff;padding:0px 35px;font:15px "helvetica neue",helvetica,arial,sans-serif;overflow:auto;-webkit-overflow-scrolling:touch;}
#section p,#section hr,#section h2,#section h3,#section ul,#section ol{max-width:650px}
#section h1{margin:10px 0 20px 0; font-weight:normal}
#section h2{font-size:28px;margin:25px 0 10px 0;line-height:1.4em;}
#section p.wrong, #section p.correct, #section p.base{text-transform:uppercase;margin-top:10px; margin-bottom:0; padding: 5px 10px 5px 10px;}
#section p.wrong {background:#c20101;color:#fff;}
#section p.base {background-color:#ddd; color:#777;}
#section p.correct {background:#00a20f;color:#fff;}
#section pre {margin:0; padding:0; margin-bottom:10px;}
#section code {border:0px !important;}
