<header id="header">
    <h1><a href="/">Better Specs <span>{ rspec guidelines with ruby }</span></a></h1>
    <ul class="langs">
      <li>translations</li>
      <li><a href="/"><img src="/img/flags/us.png" alt="english"></a></li>
      <li><a href="/ru/"><img src="/img/flags/ru.png" alt="russian"></a></li>
      <li><a href="/ko/"><img src="/img/flags/kr.png" alt="korean"></a></li>
      <li><a href="/jp/"><img src="/img/flags/jp.png" alt="japanese"></a></li>
      <li><a href="/br/"><img src="/img/flags/br.png" alt="brazilian portuguese"></a></li>
      <li><a href="/zh_tw/"><img src="/img/flags/tw.png" alt="中文(台灣)"></a></li>
      <li><a href="/es/"><img src="/img/flags/es.png" alt="spanish"></a></li>
      <li><a href="/zh_cn/"><img src="/img/flags/cn.png" alt="中文(简体)"></a></li>
      <li><a href="/fr/"><img src="/img/flags/fr.png" alt="french"></a></li>
    </ul>
    <h4>
      <a href="/">Documentation</a>
    </h4>
    </header>
