<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <li><a href="/">Introdução à boas práticas para rspec</a></li>
        <a href="#describe">Como descrever seus métodos</a></li>
        <a href="#contexts">Use contexts</a></li>
        <a href="#short">Mantenha a descrição curta</a></li>
        <a href="#single">Expectativa única</a></li>
        <a href="#all">Teste todos os casos possíveis</a></li>
        <a href="#subject">Use subject</a></li>
        <a href="#let">Use let e let!</a></li>
        <a href="#mock">Utilizar ou não mocks</a></li>
        <a href="#data">Crie apenas os dados necessários</a></li>
        <a href="#factories">Use factories, não fixtures</a></li>
        <a href="#matchers">Matchers fáceis de ler</a></li>
        <a href="#sharedexamples">Shared examples</a></li>
        <a href="#integration">Teste o que você vê</a></li>
        <a href="#should">Não use should</a></li>
        <a href="#guard">Testes automáticos com guard</a></li>
        <a href="#spork">Testes mais rápidos com spork</a></li>
        <a href="#http">"Fingindo" requisições HTTP</a></li>
        <a href="#formatter">Formatadores úteis</a></li>

        <li><a href="#books">Livros</a></li>
        <li><a href="#presentations">Apresentações</a></li>
        <li><a href="#resources">Recursos na Web</a></li>
        <li><a href="#screencasts">Screencasts</a></li>
        <li><a href="#libraries">Bibliotecas</a></li>
        <li><a href="#styleguide">Guia de estilo</a></li>
        <li><a href="#improving">Melhorando o Better Specs</a></li>
        <li><a href="#credits">Créditos</a></li>
        <li><a href="#help">Ajude-nos</a></li>
      </li>
    </ul>
  </div>
